@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ITSA</h1>
    <p class="lead">WELCOME TO ITSA VET CLINIC, KINDLY PROCEED TO LOGIN OR REGISTER</p>
    <p><a href="https://iotsa.tech/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
