
@{
    ViewBag.Title = "Welcome";
}
<br/>
<br />
<h2>Welcome TO ITSA  veterinarian clinic, kindly navigate to links up to access our service</h2>
<br />
<img src="https://iotsa.tech/img/home-slider/slider-1.jpg" alt="ITSA" width="1000" height="400">



